/* settings 24px */
.vstats-vall,
.vstats-vlmonth,
.vstats-vlweek,
.vstats-vxmonth,
.vstats-vtoday,
.vstats-vxweek,
.vstats-vyesterday{width:24px;height:24px;background:url(settings.png) no-repeat top left;text-indent:-999em;display:inline-block;}
.vstats-vall{background-position:0 0;}
.vstats-vlmonth{background-position:-48px 0;}
.vstats-vlweek{background-position:-96px 0;}
.vstats-vxmonth{background-position:-144px 0;}
.vstats-vtoday{background-position:-192px 0;}
.vstats-vxweek{background-position:-240px 0;}
.vstats-vyesterday{background-position:-288px 0;}