/* solitare 12px */
.vstats-vall,
.vstats-vlmonth,
.vstats-vlweek,
.vstats-vxmonth,
.vstats-vtoday,
.vstats-vxweek,
.vstats-vyesterday{width:12px;height:12px;background:url(solitare.png) no-repeat top left;text-indent:-999em;display:inline-block;}
.vstats-vall{background-position:0 0;}
.vstats-vlmonth{background-position:-24px 0;}
.vstats-vlweek{background-position:-48px 0;}
.vstats-vxmonth{background-position:-72px 0;}
.vstats-vtoday{background-position:-96px 0;}
.vstats-vxweek{background-position:-120px 0;}
.vstats-vyesterday{background-position:-144px 0;}