/* tags 16px */
.vstats-vall,
.vstats-vlmonth,
.vstats-vlweek,
.vstats-vxmonth,
.vstats-vtoday,
.vstats-vxweek,
.vstats-vyesterday{width:16px;height:16px;background:url(tags.png) no-repeat top left;text-indent:-999em;display:inline-block;}
.vstats-vall{background-position:0 0;}
.vstats-vlmonth{background-position:-32px 0;}
.vstats-vlweek{background-position:-64px 0;}
.vstats-vxmonth{background-position:-96px 0;}
.vstats-vtoday{background-position:-128px 0;}
.vstats-vxweek{background-position:-160px 0;}
.vstats-vyesterday{background-position:-192px 0;}