/* apple-large */
.vdigit-0,
.vdigit-1,
.vdigit-2,
.vdigit-3,
.vdigit-4,
.vdigit-5,
.vdigit-6,
.vdigit-7,
.vdigit-8,
.vdigit-9{width:53px;height:103px;background:url(apple-large.png) no-repeat top left;text-indent:-999em;display:inline-block;}
.vdigit-0{background-position:0 0;}
.vdigit-1{background-position:-106px 0;}
.vdigit-2{background-position:-212px 0;}
.vdigit-3{background-position:-318px 0;}
.vdigit-4{background-position:-424px 0;}
.vdigit-5{background-position:-530px 0;}
.vdigit-6{background-position:-636px 0;}
.vdigit-7{background-position:-742px 0;}
.vdigit-8{background-position:-848px 0;}
.vdigit-9{background-position:-954px 0;}