/* apple-small */
.vdigit-0,
.vdigit-1,
.vdigit-2,
.vdigit-3,
.vdigit-4,
.vdigit-5,
.vdigit-6,
.vdigit-7,
.vdigit-8,
.vdigit-9{width:13px;height:26px;background:url(apple-small.png) no-repeat top left;text-indent:-999em;display:inline-block;}
.vdigit-0{background-position:0 0;}
.vdigit-1{background-position:-26px 0;}
.vdigit-2{background-position:-52px 0;}
.vdigit-3{background-position:-78px 0;}
.vdigit-4{background-position:-104px 0;}
.vdigit-5{background-position:-130px 0;}
.vdigit-6{background-position:-156px 0;}
.vdigit-7{background-position:-182px 0;}
.vdigit-8{background-position:-208px 0;}
.vdigit-9{background-position:-234px 0;}