/* bubble */
.vdigit-0,
.vdigit-1,
.vdigit-2,
.vdigit-3,
.vdigit-4,
.vdigit-5,
.vdigit-6,
.vdigit-7,
.vdigit-8,
.vdigit-9{width:32px;height:32px;background:url(bubble.png) no-repeat top left;text-indent:-999em;display:inline-block;}
.vdigit-0{background-position:0 0;}
.vdigit-1{background-position:-64px 0;}
.vdigit-2{background-position:-128px 0;}
.vdigit-3{background-position:-192px 0;}
.vdigit-4{background-position:-256px 0;}
.vdigit-5{background-position:-320px 0;}
.vdigit-6{background-position:-384px 0;}
.vdigit-7{background-position:-448px 0;}
.vdigit-8{background-position:-512px 0;}
.vdigit-9{background-position:-576px 0;}