/* plain-blue */
.vdigit-0,
.vdigit-1,
.vdigit-2,
.vdigit-3,
.vdigit-4,
.vdigit-5,
.vdigit-6,
.vdigit-7,
.vdigit-8,
.vdigit-9{width:17px;height:27px;background:url(plain-blue.png) no-repeat top left;text-indent:-999em;display:inline-block;}
.vdigit-0{background-position:0 0;}
.vdigit-1{background-position:-34px 0;}
.vdigit-2{background-position:-68px 0;}
.vdigit-3{background-position:-102px 0;}
.vdigit-4{background-position:-136px 0;}
.vdigit-5{background-position:-170px 0;}
.vdigit-6{background-position:-204px 0;}
.vdigit-7{background-position:-238px 0;}
.vdigit-8{background-position:-272px 0;}
.vdigit-9{background-position:-306px 0;}