/* silk-screen */
.vdigit-0,
.vdigit-1,
.vdigit-2,
.vdigit-3,
.vdigit-4,
.vdigit-5,
.vdigit-6,
.vdigit-7,
.vdigit-8,
.vdigit-9{width:9px;height:10px;background:url(silk-screen.png) no-repeat top left;text-indent:-999em;display:inline-block;}
.vdigit-0{background-position:0 0;}
.vdigit-1{background-position:-18px 0;}
.vdigit-2{background-position:-36px 0;}
.vdigit-3{background-position:-54px 0;}
.vdigit-4{background-position:-72px 0;}
.vdigit-5{background-position:-90px 0;}
.vdigit-6{background-position:-108px 0;}
.vdigit-7{background-position:-126px 0;}
.vdigit-8{background-position:-144px 0;}
.vdigit-9{background-position:-162px 0;}