/* wedgie */
.vdigit-0,
.vdigit-1,
.vdigit-2,
.vdigit-3,
.vdigit-4,
.vdigit-5,
.vdigit-6,
.vdigit-7,
.vdigit-8,
.vdigit-9{width:26px;height:22px;background:url(wedgie.png) no-repeat top left;text-indent:-999em;display:inline-block;}
.vdigit-0{background-position:0 0;}
.vdigit-1{background-position:-52px 0;}
.vdigit-2{background-position:-104px 0;}
.vdigit-3{background-position:-156px 0;}
.vdigit-4{background-position:-208px 0;}
.vdigit-5{background-position:-260px 0;}
.vdigit-6{background-position:-312px 0;}
.vdigit-7{background-position:-364px 0;}
.vdigit-8{background-position:-416px 0;}
.vdigit-9{background-position:-468px 0;}